@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    font-family: 'Alata', sans-serif !important;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.2s ease;
}

@media (max-width: 768px) {
    #navbarSupportedContent:not(.home) {
        background-color: #f8f9fa;
    }
    #navbarSupportedContent.home {
        background-color: #343a40;
    }
}

/* div.dropdown-menu {
    display: block !important;
    visibility: hidden;
    height: 0px;
    padding: 0px;
    transition: height 0.3s;
} */

/* div.dropdown-menu a {
    animation-duration: 2s;
    animation-name: slideDown;
}

@keyframes slideDown {
    from {
      z-index: 1000;
    }
  
    to {
      z-index: 1;
    }
  } */

/* div.dropdown-menu.show {
    height: 100px;
    visibility: visible;
    transition: height 0.3s;
} */


.bg-image {
    background: url("../pics/6.jpg") no-repeat center center;
    background-size: cover;
}

body {
    height: 100vh;
}

#home-bio {
    font-size: 24px;
}

#about-bio p {
    font-size: 18px;
}

.carousel-item {
    height: 600px;
    background-color: #000000;
}

#navbar-scroll.bg-dark a, #navbar-scroll.bg-light a {
    padding-top: 0px;
    padding-bottom: 0px;
    transition: padding 0.2s ease;
}

#navbar-scroll a {
    transition: padding 0.2s ease;
}

/* IMPORTED! */

.our-team-main {
    width: 100%;
    height: auto;
    border-bottom: 5px #323233 solid;
    background: transparent;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    margin-bottom: 28px;
    color: black;
}

.our-team-main img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 40%;
    height: 100%;
    box-shadow: 0 0 0.2rem 0 rgba(68, 68, 68, .2);
}

.our-team-main h3 {
    font-size: 20px;
    font-weight: 700;
}

.our-team-main p {
    margin-bottom: 0;
}

.team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: left;
    background: white;
    color: black;
}

.team-front {
    width: 100%;
    height: auto;
    position: relative;
    opacity: 10;
    background: rgba(255, 255, 255, 1);
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
}

.our-team-main:hover .team-front {
    bottom: -250px;
    transition: all 0.5s ease;
}

.our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
}

.back-side-info {
    display: inline-block;
    width: 50%;
}

.back-side-info a {
    color: black;
    font-weight: bold;
}

.back-side-info a:hover {
    text-decoration: underline;
}

img.foodImage {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}