@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body {
    font-family: 'Alata', sans-serif !important;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.2s ease;
}

@media (max-width: 768px) {
    #navbarSupportedContent:not(.home) {
        background-color: #f8f9fa;
    }
    #navbarSupportedContent.home {
        background-color: #343a40;
    }
}

/* div.dropdown-menu {
    display: block !important;
    visibility: hidden;
    height: 0px;
    padding: 0px;
    transition: height 0.3s;
} */

/* div.dropdown-menu a {
    animation-duration: 2s;
    animation-name: slideDown;
}

@keyframes slideDown {
    from {
      z-index: 1000;
    }
  
    to {
      z-index: 1;
    }
  } */

/* div.dropdown-menu.show {
    height: 100px;
    visibility: visible;
    transition: height 0.3s;
} */

.bg-image {
    background: url("../pics/6.jpg") no-repeat center center;
    background-size: cover;
}

body {
    height: 100vh;
}

#home-bio {
    font-size: 24px;
}

#about-bio p {
    font-size: 18px;
}

.carousel-item {
    height: 600px;
    background-color: #000000;
}

#navbar-scroll.bg-dark a, #navbar-scroll.bg-light a {
    padding-top: 0px;
    padding-bottom: 0px;
    transition: padding 0.2s ease;
}

#navbar-scroll.bg-dark, #navbar-scroll.bg-light {
    padding: 0rem 1rem;
}

#navbar-scroll a {
    transition: padding 0.2s ease;
}

#alt {
    margin-bottom: 0rem;
}

.spinner-border {
    position: absolute;
    top: 0;
    left: 0;
}

.alert {
    display: none;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

/* IMPORTED! */

/* .card:hover .card__title {
    background-size: 100% 100%;
}

.card:hover .card__icon-wrapper .icon {
    animation: card-icon-animation .3s;
}

.card__title {
    background-image: linear-gradient(transparent 50%, alpha(var(--color-primary), 0.2) 50%);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0% 100%;
    transition: background .3s;
}

.card__icon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;
    background-color: alpha(var(--color-black), 0.85);
    border-bottom-left-radius: var(--radius-lg);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes card-icon-animation {
    0%, 100% {
        opacity: 1;
        transform: translateX(0%);
    }
    50% {
        opacity: 0;
        transform: translateX(100%);
    }
    51% {
        opacity: 0;
        transform: translateX(-100%);
    }
} */