@font-face {
    font-family: 'Alata';
    src: url('../fonts/Alata-Regular.woff2') format('woff2'),
            url('../fonts/Alata-Regular.woff') format('woff');
}

body {
    font-family: 'Alata', sans-serif !important;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.2s ease;
}

@media (max-width: 768px) {
    #navbarSupportedContent:not(.home) {
        background-color: #f8f9fa;
    }
    #navbarSupportedContent.home {
        background-color: #343a40;
    }
}

.bg-image {
    background: url("../pics/66.jpg") no-repeat center center;
    background-size: cover;
}

body {
    height: 100vh;
}

#home-bio {
    font-size: 24px;
}

#about-bio p {
    font-size: 18px;
}

.carousel-item {
    height: 600px;
    background-color: #000000;
}


#alt {
    margin-bottom: 0rem;
}

.spinner-border {
    position: absolute;
    top: 0;
    left: 0;
}

.alert {
    display: none;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.gallery {
    position: relative;
    background-color: black;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 3rem;
}

.gallery img.hidden {
    visibility: hidden;
}

.gallery img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.landscape {
    height: 100%;
    width: auto;
}

.img-restrain {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    overflow: hidden;
}

.card-img-top:not(iframe) {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

.card-img-top:hover:not(iframe) {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

footer a {
    color: #f8f9fa;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.75);
}

/* .card-deck div.card {
    max-width: 40%;
} */