<footer class="panel-footer bg-secondary border-top text-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <span class="p-2"><a href="http://" target="_blank" rel="noopener noreferrer"><img src="https://img.icons8.com/ios/36/000000/facebook.png"/></a></span>
            <span class="p-2"><a href="http://" target="_blank" rel="noopener noreferrer"><img src="https://img.icons8.com/ios/36/000000/youtube-squared.png"/></a></span>
            <span class="p-2"><a href="http://" target="_blank" rel="noopener noreferrer"><img src="https://img.icons8.com/fluent/36/000000/linkedin.png"/></a></span>
        </div>
        <div class="row justify-content-center">
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="#/home"> tomailiev.com</a>
            </div>
        </div>

    </div>
</footer>