{{>header}}
<div class="text-dark py-5 bg-light">
<div class="py-4"></div>
  <div class="container">
      <h1 class="p-2">About</h1>
    <div class="row">
      <div id="about-bio" class="col-lg-8 p-2">
        <p>Toma Iliev is a violinist focused on historically informed performance. Holder of the Ruth and Charles
          Poindexter
          chair
          with the Portland Baroque Orchestra, recent engagements include performances with Philharmonia Baroque
          Orchestra,
          American Bach Soloists, Oregon Bach Festival, Indianapolis Baroque Orchestra, Clarion Music Society, and the
          Valley
          of
          the Moon Festival, as well as broadcasts on MediciTV, BBC3 radio, WQXR, and the CBC “Rush Hour” series.</p>
        <p>An avid chamber musician, Toma is a member of the Renaissance ensemble Sonnambula, who held the position of
          2018-19
          artists in residence of New York's Metropolitan Museum of Art. Toma was the winner of the 2014 Christa
          Bach-Marschall
          Foundation Prize from the Leipzig International Bach Competition, and was the winner of the 2013 Indianapolis
          Baroque
          Orchestra Concerto Competition.</p>
        <p>A native of Sofia, Bulgaria, Toma discovered his passion for music at an early age. Beginning hisstudies at
          the
          National
          Music School in Sofia, he later received his bachelor and master of music degrees at Indiana University where
          he
          studied
          with Kevork Madriossian and Stanley Ritchie, and received his graduate diploma from the Juilliard School,
          where he
          was a
          member of the prestigious and selective historical performance program.</p>
        <p>In addition to performing on baroque and classical violin, his versatility has led him to solo and chamber
          performances
          on baroque and classical viola, viola d'amore, and tenor viol, and modern engagements with such ensembles as
          San
          Francisco-based conductorless chamber orchestra One Found Sound. Having learned from inspirational figures
          such as
          Stanley Ritchie, Monica Huggett, Rachel Podger, Nigel North, Jordi Savall, Robert Levin, Richard Egarr and
          others,
          Toma
          has been developing his own vision of the specifics of historically informed performance and is focused on
          bringing
          the
          evolving principles of the HIP movement to each performance as well as music beyond the baroque and classical
          repertoire.</p>
      </div>
      <div class="col-lg-4 border-left">
        <img src="../pics/ver3.jpg" class="img-fluid d-none d-md-block">
        <blockquote class="blockquote text-right">
          <p class="mb-0">"The sound of concertmaster Toma Illiev’s violin intertwining with Gornstein’s voice was
            magical"
          </p>
          <footer class="blockquote-footer"><cite title="Source Title">seen and heard international</cite></footer>
        </blockquote>

        <blockquote class="blockquote text-right">
          <p class="mb-0">"The group was capably and sensitively led by concertmaster Toma Iliev"</p>
          <footer class="blockquote-footer"><cite title="Source Title">the rehearsal studio</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>

</div>
{{>footer}}