{{>header}}
<div class="p-5"></div>
<div class="container text-center">
    <h1>Recordings</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="our-team-main">
                <div class="team-front">
                    <img src="../pics/ver0.jpg" />
                    <h3>Title</h3>
                    <p>Group</p>
                </div>

                <div class="team-back">
                    <div class="back-side-info">
                        <h4>Ingredients</h4>
                        <ul>
                            
                            <li>something</li>
                           
                        </ul>
                        <a href="#/details/{{this.objectId}}">View the recepie</a>
                    </div>

                    <img class="foodImage" src="../pics/ver2.jpg" />
                </div>

            </div>
        </div>
    </div>
</div>
{{>footer}}