<footer class="panel-footer bg-dark border-top text-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <span class="p-2"><a href="https://www.facebook.com/iliev.toma" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square fa-2x"></i></a></span>
            <span class="p-2"><a href="https://www.youtube.com/channel/UC9bg9ykO9gwWp-3D5jKpFSA/channels?view_as=subscriber" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube-square fa-2x"></i></a></span>
            <span class="p-2"><a href="https://www.linkedin.com/in/toma-iliev-b29564121" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-2x"></i></a></span>
        </div>
        <div class="row justify-content-center">
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <span class="font-weight-bold"> tomailiev.com</span>
            </div>
        </div>

    </div>
</footer>
