<footer class="panel-footer bg-secondary border-top text-light">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <span class="p-2"><a href="https://www.facebook.com/iliev.toma" target="_blank" rel="noopener noreferrer"><img
                        src="../pics/icons/icons8-facebook-36.png" /></a></span>
            <span class="p-2"><a href="https://www.youtube.com/channel/UC9bg9ykO9gwWp-3D5jKpFSA/channels?view_as=subscriber" target="_blank" rel="noopener noreferrer"><img
                        src="../pics/icons/icons8-youtube-squared-36.png" /></a></span>
            <span class="p-2"><a href="https://www.linkedin.com/in/toma-iliev-b29564121" target="_blank" rel="noopener noreferrer"><img
                        src="../pics/icons/icons8-linkedin-36.png" /></a></span>
        </div>
        <div class="row justify-content-center">
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="#/home"> tomailiev.com</a>
            </div>
        </div>

    </div>
</footer>
