{{>header}}
<div class="py-5"></div>
<div class="container p-5">
    <h1 class="py-2">Performances</h1>
    <table class="table table-light table-hover">
                        <thead class="thead-dark">
                              <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Event</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Venue</th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                              </tr>
                              <tr class="p-2">
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                              </tr>
                              <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                              </tr>
                        </tbody>
                  </table>
    
</div>
{{>footer}}