{{>header}}
<div class="p-5"></div>
{{#if vids}}
<div id="videos" class="container p-2">
  <h1 class="pagetitle">video</h1>
  {{#each vids}}
  <div class="row py-3">
    <div class="col-md-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="{{this.videoUrl}}" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen
          loading="lazy"></iframe>
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h5>{{this.title}}</h5>
      <p>{{this.description}}</p>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<div id="videos" class="container p-2 h-75">
  <h1 class="pagetitle">video</h1>
  <h4 class="py-2">No videos found. Please check back later.</h4>
</div>
  {{/if}}
  {{>footer}}